{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="carda">
                <div class="fan-text">
                <p>Фан-рух нашого клубу зародився відразу ж з появою команди в місті,
                    завдяки одній єдиній людині.</p>
                    <div class="card">
                    <img src="{% static 'ars21.png' %}" width="100%">
                <p>Наш активний фан-діяч пройшов сезон ліги Еліт-турніру разом із нами із самого початку.
                Зустрічав нас біля воріт будівлі спорткомплексу і не переставав вірити в команду, незважаючи
                на серію нищівних поразок. Друзі та родичі також беруть активну участь
                    у підтримці команди та у клубних заходах.</p>
                        <img src="{% static 'qqq.png' %}" width="100%">

                <p>Якщо тобі не байдуже наше місто та наш футбол, ми чекаємо на тебе на наших іграх!
                Наша команда тільки-но починає писати свою історію, і ти можеш бути біля її витоків!
                    Разом ми зможемо зробити набагато більше!</p>

                        <img src="{% static 'q.png' %}" width="100%">
                    </div>
                <p>Якщо ти не можеш всидіти на місці під час матчів нашого клубу, якщо ти любиш спорт, хочеш активно підтримувати «арсеналівців» – приєднуйся до нас!
                    Ти потрібен команді, ми чекаємо на тебе у фан-клубі!</p>
                
                <p>З питань вступу до фан-сектору:
                    * номер телефону *, Прізвище Ім'я - ФАХІВНИК з роботи з уболівальниками</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}