{% extends 'main.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">


<div class="home-page">
    <div class="home-block">asdasd

        <div class="home-welcome">
            <a><p>Футбольний клуб Арсенал</p></a>
            <div class="home-text">
                <a><p>Тут якийсь текст, опис чи вітання етк</p></a>
            </div>
            <div class="home-image"></div>
        </div>

        <div class="home-news">
            <div class="home-text"></div>
            <div class="home-image"></div>
        </div>

        <div class="home-fans">
            <div class="home-text"></div>
            <div class="home-image"></div>
        </div>

    </div>
</div>

{% endblock %}