{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="color:#FAF0E6" align="center">ЗАЯВА</h1>
            <table class="person_table" border="3px" bgcolor="#111">
                <tr class="person-top">
                    <td><h1>Ім'я</h1></td>
                    <td><h1>Прізвище</h1></td>
                    <td><h1>Вік</h1></td>
                    <td><h1>Контакти</h1></td>
                </tr>
                <tr class="person-content">
                    <td>{{ per.player_request_name }}</td>
                    <td>{{ per.player_request_name2 }}</td>
                    <td>{{ per.player_request_age }}</td>
                    <td>{{ per.player_request_contacts }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}