{% extends 'main.html' %}
{% block content %}
{% load static %}
{% for a in team %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    {% if a.player_image %}<a href="{% url 'p_info' pk=a.pk %}"><img src="{{ a.player_image.url }}" width="175px"></a>{% endif %}
                    <h5 class="card-title"><strong>Прізвище<a>{{ a.player_sur_name }}</a></strong></h5>
                    <h5 class="card-title"><strong>Ім'я<a>{{ a.player_name }}</a></strong></h5>
                    <p class="card-text">Позиція<a>{{ a.player_position }}</a></p>
                    <p class="card-text">Дата народження<a>{{ a.birth }}</a></p>
                    <p class="card-text">Вік<a>{{ a.player_age }}</a></p>
                    <p class="card-text">Зріст<a>{{ a.height }} см</a></p>
                    <p class="card-text">Вага<a>{{ a.weight }} кг</a></p>
                    <a href="{% url 'p_info' pk=a.pk %}" class="btn btn-primary">Докладніше...</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}




{% endblock%}