* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgba(47,55,72,0.7), rgba(36,66,126,0.7)), url(../img/m5.jpg);
    font-family: 'Exo 2', sans-serif;
}

h3 {
    color: #d7d7d7;
}



.carousel {
    background-color: azure;
    background-image: linear-gradient(to right, rgba(99,1,1,0), rgba(36,66,126,333.7)), url(../img/3d_23-2148403778.jpg);
    text-align: center;
    height: 173px;
}

.carousel-caption h4 {
    font-family: 'Architects Daughter', cursive;
    color: #27272b;
    }

.logo-img {
    text-align: left;
}

.block-info {
    width: 414px;
    background-color: #FAF0E6;
    border: .8px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
}

.post_name a {
    font-family: 'Exo 2', sans-serif;
    color: #ff3b48;
}

.post_likes {
    color: black;
}

.navbar{
    background: linear-gradient(to right, rgba(47,55,72,0.7), rgba(9,12,26,-9.7)), url(../img/ex.jpg);
}

.team-player {
    margin-left: 20%;
    text-align:left;
}

.card {
    text-align: left;
}


.compose {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    text-align: center;
}

.compose img {
    display: block;
    margin-left: 40px;
    white-space: nowrap;
}

.carda {
    background-color:aliceblue;
    right: 111px;
    margin-top: 15px;
}
.fan-text p {
    color: black;
    text-align: left;
    font-size: 16px;
}


.post-form {
    margin: 0 auto;
    margin-top: 15px;
}
.form {
    background-color: aliceblue;
    margin: 0 auto;
    height: auto;
    border: .8px solid #ccc;
    border-radius: 4px;
}


.form-m {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.7);
}

.form-m h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}


.form-m form {
    margin: 15px 40px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background: none;
    box-sizing: border-box;
}

.form-m [type="submit"] {
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: #111;
    transition: .3s;
}

.form-m [type="submit"]:hover {
    color: aqua;
}

.person_table {
    margin: 0 auto;
    text-align: center;
    border: 3px solid white;
    color: #FAF0E6;
}

.person-top {
    border: 3px solid white;
}

.person-content {
    height: 100px;
}



.card-body img {
    margin-left: 37px;
}
.card-title a {
    float: right;
}
.card-text a {
    float: right;
}