.post-form {
    margin: 0 auto;
    margin-top: 15px;
}
.form {
    background-image: url(../img/form.jpg);
    background-color: #FAF0E6;
    margin: 0 auto;
    width: 814px;
    height: auto;
    border: .8px solid #ccc;
    border-radius: 4px;
}


.form-m {
    position: absolute;
    margin-top: 300px;
    left: 48%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.7);
}

.form-m h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}


.form-m form {
    margin: 15px 40px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background: none;
    box-sizing: border-box;
}

.form-m [type="submit"] {
    margin-top: 0px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: #111;
    transition: .3s;
}

.form-m [type="submit"]:hover {
    color: aqua;
}

.cabinet-img {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
}

.cabinet-img img {
    display: block;
    margin: 10px;
    white-space: nowrap;
    text-align: center;
}

.cabinet-img p {
    display: block;
    margin: 5px;
    width: 115px;
    color: #fff;
}